<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon-16x16.png">
    <link rel="manifest" href="/public/site.webmanifest">
    
    <!-- CSS and JS -->
    <link href="/public/output.css" rel="stylesheet">
    <script src="/public/htmx.min.js"></script>    
</head>
<body>
    <h1 class="text-3xl font-bold underline">Contact Us</h1>

    <form action="#" method="post">
        <p>
            <label for="name">Full Name:</label><br>
            <input type="text" id="name" name="name" required>
        </p>

        <p>
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required>
        </p>

        <p>
            <label for="subject">Subject:</label><br>
            <input type="text" id="subject" name="subject" required>
        </p>

        <p>
            <label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="5" cols="30" required></textarea>
        </p>

        <p>
            <button type="submit">Send Message</button>
        </p>
    </form>

</body>
</html>